<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="#"
    >UNICAES <img src="./View/IMG/UNICAES_Logo.png" class="logo-unicaes" alt=""
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- haber si cambia hoy -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="hoverItemOne nav-link" href="./index.html">
          Inicio
          <i class="hoverItemTwo fas fa-home"></i>
        </a>
      </li>
      <li class="nav-item dropdown">
        <a
          class="hoverItemOne nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
        >
          Ejercicios
          <i class="hoverItemTwo fas fa-chart-pie fa-spin"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a
            class="dropdown-item"
            href="./View/HTML/Metodos/Cerrados/metodoBiseccion.html"
          >
            Bisección
            <i class="fas fa-chart-line"></i>
          </a>
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            href="./View/HTML/Metodos/Cerrados/metodoRegulaFalsi.html"
          >
            Regula Falsi
            <i class="fas fa-chart-line"></i>
          </a>
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            href="./View/HTML/Metodos/Abiertos/Newton-Raphson/metodoNewtonRaphson.html"
          >
            Newton-Raphson
            <i class="fas fa-chart-line"></i>
          </a>
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            href="./View/HTML/Metodos/Abiertos/Punto-Fijo/metodoPuntoFijo.html"
          >
            Punto Fijo
             <i class="fas fa-chart-line"></i>
          </a>
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            href="./View/HTML/Metodos/Abiertos/Secante/metodoSecante.html"
          >
            Secante
            <i class="fas fa-chart-line"></i>
          </a>
          <div class="dropdown-divider"></div>
          <a
            class="dropdown-item"
            href="./View/HTML/Metodos/Cerrados/metodoRegulaFalsi.html"
          >
            Müller
             <i class="fas fa-chart-line"></i>
          </a>
        </div>
      </li>
      <li class="nav-item">
        <a class="hoverItemOne nav-link" href="#"
          >Acerca
          <i class="hoverItemTwo fas fa-question-circle"></i>
        </a>
      </li>
    </ul>
  </div>
</nav>
